.wrapper
  = render "shared/side_bar2"
  = render "shared/rooms_bar"
  .right-bar
    .talkindex-background
      .talkindex-text1
        Let's Enjoy
      .talkindex-text2
        Talking!!!
        = image_tag "bear1.png", class: "talkindex-image bear"