.search-page{
  width: 100vw;
  .upper{
    height: 8vh;
    width: 100%;
    line-height: 8vh;
    font-size: 20px;
    text-align: center;
    background-color: #3f4663;
    color: #d3d8e3;
    font-family: 'Hiragino Maru Gothic Pro';
  }
  .search-form{
    margin: 0 auto;
    width:40vw;
    text-align: center;
    margin-top: 5vh;
    .field-input{
      position: relative;
      width: 20vw;
      margin: 0 auto;
      .form{
        height: 8vh;
        width: 20vw;
        border: solid 1px #dfdfdf;
        border-radius: 2px;
        font-family: 'Hiragino Maru Gothic Pro';
        padding: 0 1vw;
        outline: 0;
        &::placeholder{
          color: #B5B5B5;
        }
      }
      .search{
        position: absolute;
        top: 0;
        right: 1vw;
        font-size: 25px;
        line-height: 8vh;
        .hidden{
          display: none;
        }
      }
    }
    .found-friend{
      .friend-image {
        display: inline-block;
        width: 15vw;
        height: 15vw;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 4vh;
        background-color: #3f3f3f;
        .image{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 15vw;
        }
      }
      .friend-name{
        margin-top: 1vh;
        font-size: 20px;
        font-family: 'Hiragino Maru Gothic ProN';
      }
    }
    .btn {
      display: inline-block;
      width: 15vw;
      height: 8vh;
      line-height: 8vh;
      color: white;
      background-color: #b3b6c9;
      text-align: center;
      font-family: 'Hiragino Kaku Gothic Std';
      text-decoration: none;
      letter-spacing: 1px;
      border: none;
      border-radius: 2px;
      margin-top: 3vh;
      &:hover {
        background-color: #647088;
      }
    }
    .add-btn{
      background-color: #4ed942;
      &:hover {
        background-color: #46C33B;
      }
    }
  }
}